# --- build artifacts ---
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dylib

# --- binaries from our Makefile ---
app
app_test
build/

# --- editor / IDE files ---
.vscode/
.idea/

# --- system files ---
.DS_Store
